# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
.vs/

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/

# Logs
*.log

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# DotCover
*.dotCover

# Others
launchSettings.json
appsettings.Development.json
